<html>
   
{% load static %}
<head>
    
    <tittle>
    
    </tittle>
</head>
<style>
   h3{
        align: center;
        color: white;
        display: center;
    }
    div p{
        align: center;
    }
    h3{
        color: white;
    }
    h1{
        text-align: center;
        color: white;
    }
</style>
<body>
    {% block content %}
    <div style=> 

       

    <h1> OUR VISSION ZAN SUZA TRAVEL  AGENT</h1>
    <div >

        <h3 style="text-align: center;"> 
            ZAN SUZA TRAVEL ipo kwa lengo la kukiboresha <br>
            chuo cha taifa  cha zanzibar  SUZA kimataifa <br>
            na kutaka kuinua uchumi wa ndani ya nchi <br>
            na kuboresha maelewano mazuri na vyuo vikuu <br>
            vya kitaifa vyenye dhamira ya kufanya <br>
            tafiti mbali mbali za kidunia kupitia <br>

        </h3>
    
    </div>
        <div>
            <h3  style="text-align: center;">
            kwa wale wanaohitaji kuweka booking ya usafiri<br>
            hoteli na matembezi ya nje ya zanzibar <br>
            zan suza travell wameungana na hifadhi za taifa <br>
            za nchi jirani kma vile serengeti ngoro ngoro <br>
            manyara na nyinginezo  hata milima ya kilimanjaro <br>
            </h3>
        </div>
       






        <div>

        </div>



    {% endblock %}















</body>


















</html>
